{{ define "js" }}
<script>
         function scrollBar(id) {
            var content = document.getElementById(id);
            content.scrollTop = content.scrollHeight;
         }
</script>
{{ end }}