{{ define "nav" }}
    <nav id="side" class="mini">
        <div id="slinks">
        <a href="/">
            <i>&#9733;</i> <span>Home</span>
        </a>
        <a href="/inventory">
            <i>&#9733;</i> <span>Cluster Inventory</span>
        </a>
        <a href="/labelform">
            <i>&#9733;</i> <span>Upgrade By label</span>
        </a>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i>&#9733;</i> Config Patch <span class="caret"></span></a>
          <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item active" href="/spatch">Single</a></li>
              <li><a class="dropdown-item" href="/mpatch">Multi</a></li>
              <!-- <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
              -->
          </ul>
        </li>
        <li><hr class="dropdown-divider"></li>
        <a href="https://github.com/mstrohl/talos-cockpit/wiki" target="_blank">
            <i>&#9733;</i> <span>Documentation</span>
        </a>
        </div>
    </nav>
{{ end }}