{{ define "nav" }}
    <nav id="side" class="mini">
        <div id="slinks">
        <a href="/">
            <i>&#9733;</i> <span>Home</span>
        </a>
        <a href="/inventory">
            <i>&#9733;</i> <span>Cluster Inventory</span>
        </a>
        <a href="/labelform">
            <i>&#9733;</i> <span>Upgrade By label</span>
        </a>
        <a href="/spatch">
            <i>&#9733;</i> <span>Patch Machine Config</span>
        </a>
        </div>
    </nav>
{{ end }}