{{define "title"}}Home{{end}}
{{define "content"}}
    <div id="bottom">
    {{ block "nav" .}} {{end}}
    <main id="main">
    <div class="client-info">
    Node that answers : {{ .ClientIP }} | Cluster ID: {{ .ClusterID }}
    </div>
    <h1>Talos Cockpit</h1>
    <h2> Talos System </h2>
    <div class="grid-container">
        <div class="tile simple">
            <div class="header">
                <div id="lastrelease" class="count">{{ .TalosctlVersion }}</div>
                <div class="title">CLI</div>
            </div>
                <div class="body">
                <div class="title">Talosctl version</div>
            </div>
        </div>
        <div class="tile simple">
            <div class="header">
                <div id="lastrelease" class="count">{{ .LatestOsVersion }}</div>
                <div class="title">Version</div>
            </div>
                <div class="body">
                <div class="title">Last release</div>
            </div>
        </div>
        <div class="tile warn">
            <div class="header">
                <div id="lastprerelease" class="count">{{ .LastPreRelease }}</div>
                <div class="title">Version</div>
            </div>
            <div class="body">
                <div class="title">Last PRE-release</div>
            </div>
        </div>
    </div>
    <br>
    <h2> Kubernetes <h2>
    <div class="grid-container">
        <div class="tile config">
            <div class="header">
                <div id="lastk8s" class="count">{{ .LatestK8sVersion }}</div>
                <div class="title">K8S Latest</div>
            </div>
            <div class="body">
                <div class="title">Available Version</div>
            </div>
        </div>
    </div>
    <br>
    <h2> Cockpit config <h2>
    <div class="grid-container">
        <div class="tile config">
            <div class="header">
                <div id="syncsched" class="count">{{ .SyncSched }}</div>
                <div class="title">Loop</div>
            </div>
            <div class="body">
                <div class="title">Members resync</div>
            </div>
        </div>
        <div class="tile config">
            <div class="header">
                <div id="upgradesched" class="count">{{ .UpgradeSched }}</div>
                <div class="title">Loop</div>
            </div>
            <div class="body">
                <div class="title">Auto Upgrade</div>
            </div>
        </div>
        {{ if not .MaintenanceDuration }}
        <div class="tile info">{{else}}
        <div class="tile config">{{end}}
            <div class="header">
                {{ if not .MaintenanceDuration }}
                <div class="title"><br>Mode<br>disabled</div>
                {{else}}<div id="maintenance" class="count">{{ .MaintenanceDuration }}</div>{{end}}
            </div>
            <div class="body">
                <div class="title">Maintenance Window</div>
            </div>
        </div>
        {{ if not .SafetyPeriod }}
        <div class="tile info">{{else}}
        <div class="tile config">{{end}}
            <div class="header">
                {{ if not .SafetyPeriod }}
                <div class="title"><br>Mode<br>disabled</div>
                {{else}}<div id="maintenance" class="count">{{ .SafetyPeriod }}</div>
                <div class="title">Days</div>{{end}}
            </div>
            <div class="body">
                <div class="title">Update grace period</div>
            </div>
        </div>
        {{ if .SafetyPeriod }}
        <div class="tile config">
            <div class="header">
                {{ if .Timeremaining  }}
                <div id="maintenance" class="count">{{ .Timeremaining }}</div>
                <div class="title">Remaining</div>
                {{else}}
                <div class="title"><br>Update<br>authorized<br>since<br>{{ .Timeremaining }}</div>
                {{end}}
            </div>
            <div class="body">
                <div class="title">Grace period ends</div>
            </div>
        </div>
        {{end}}
    </div>
    <br>
    <h3> Cluster details <h3>
    <div class="grid-container">
        <div class="tile simple">
            <a href="/inventory" class="fill-div">
                <div class="header">
                    <div id="nodecount" class="count">{{ .NodeCount }}</div>
                    <div class="title">Nodes</div>
                </div>
                <div class="body">
                    <div class="title">Number of nodes</div>
                </div>
            </a>
        </div>
    </div>
{{end}}