{{define "meta" }}<meta http-equiv="refresh" content="15;url=/inventory">{{end}}
{{define "title"}}K8S Upgrade{{end}}
{{define "content"}}
	<div id="bottom">
	{{ block "nav" .}} {{end}}
	<!-- (PART B2) MAIN CONTENT -->
	<main id="main">
		<h1>On Demand K8S Upgrade through controller {{.MachineID}}</h1>
		<h2>Upgrade in progress...</h2>
		<br>
		<a class="btn btn-default" href="/inventory">Abort</a>
{{end}}